interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer VIiQwPXd3YdxtAzkjl1S7rUUxaQh9PMy
    method: GET
    uri: https://drone.dv.nyt.net/api/repos/nytm/wf-project-vi/builds
  response:
    body:
      string: "[{\"id\":1114846,\"repo_id\":117,\"trigger\":\"@hook\",\"number\":137383,\"status\":\"failure\",\"event\":\"pull_request\",\"action\":\"synchronized\",\"link\":\"https://github.com/nytm/wf-project-vi/pull/13618\",\"timestamp\":0,\"title\":\"Coverage
        Briefing - config\",\"message\":\"## Description\\r\\n\\r\\nThis PR introduces
        configuration changes for the upcoming coverage briefing live asset type.\\r\\n\\r\\n##
        How to Test\\r\\n\\r\\nVerify that existing assets look normal:\\r\\n\\r\\n*
        [Live Briefing](https://preview-coverage-briefing-config.sbx.nytimes.com/live/2021/05/17/world/israel-gaza-updates)\\r\\n*
        [Live Blog](https://preview-coverage-briefing-config.sbx.nytimes.com/live/2021/04/20/us/derek-chauvin-verdict-george-floyd)\\r\\n*
        [Fact Check](https://preview-coverage-briefing-config.sbx.nytimes.com/live/2021/04/28/us/biden-speech)\\r\\n\\r\\nAs
        well as the posts in the Coverage Briefing:\\r\\n\\r\\n* [Coverage Briefing](https://preview-coverage-briefing-config.sbx.nytimes.com/live/2021/05/12/admin/urvashi-coverage-briefing-test?GQL_HOST=https://samizdat-graphql-test.stg.nytimes.com)\",\"before\":\"f8d937c92e255f080af2ff6e9a84e371e7f96d10\",\"after\":\"785a0cd25998fdae6802df4422546ea8d77390c6\",\"ref\":\"refs/pull/13618/head\",\"source_repo\":\"nytm/wf-project-vi\",\"source\":\"preview-coverage-briefing-config\",\"target\":\"main\",\"author_login\":\"jonahsmith\",\"author_name\":\"\",\"author_email\":\"\",\"author_avatar\":\"https://avatars.githubusercontent.com/u/6675396?v=4\",\"sender\":\"jonahsmith\",\"started\":1621293876,\"finished\":1621294318,\"created\":1621293876,\"updated\":1621293876,\"version\":3},{\"id\":1114845,\"repo_id\":117,\"trigger\":\"@hook\",\"number\":137382,\"status\":\"success\",\"event\":\"push\",\"action\":\"\",\"link\":\"https://github.com/nytm/wf-project-vi/compare/f78bb4d5b9d0...785a0cd25998\",\"timestamp\":0,\"message\":\"contains
        to includes\",\"before\":\"f78bb4d5b9d09bdfea6df5f8b506445f3dbc06c8\",\"after\":\"785a0cd25998fdae6802df4422546ea8d77390c6\",\"ref\":\"refs/heads/preview-coverage-briefing-config\",\"source_repo\":\"\",\"source\":\"preview-coverage-b[...]
[...]
